<footer class="footer">
    <div class="footer-container">
        <div class="logo">
            <img src="/public/images/9.png">
        </div>
        <div class="socials">
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-whatsapp"></i></a>
        </div>
    </div><!--footer-container-->
</footer>
<div class="end">
    <p>Todos direitos reservados</p>
    <p>Produzido Por A M Lima</p>
</div>