<%- include('./partials/header.html')%>

    <section class="busca">
        <div class="container">
            <div class="busca-header">
                <h3>
                    <%= contagem %> resultados...
                </h3>
            </div><!--busca-header-->

            <div class="busca-wraper">
                <% for(let i=0;i< posts.length;i++) {%>
                    <a href="<%= posts[i].slug%>">
                        <div class="busca-single">
                            <div class="busca-single-img">
                                <img src="<%= posts[i].imagem %>" />
                            </div><!--busca-single-img-->
                            <div class="busca-text">
                                <h4>
                                    <%= posts[i].titulo %>
                                </h4>
                            </div><!--busca-text-->
                        </div><!--busca-single-->
                    </a>

                    <% } %>

            </div><!--busca-wraper-->
        </div><!--container-->
    </section><!--busca-->



    <%- include('./partials/footer.html')%>